.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.empty-cart-text {
  font-size: 20px;
  text-align: center;
}

.continue-shopping {
  background-color: #612dae;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
}

.subtotal {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  width: 100%;
  text-align: right;
  border-bottom: 1px solid rgb(195, 195, 195);
}

.subtotal-amount {
  color: green;
  letter-spacing: 0.5px;
}

.checkout-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.checkout {
  padding: 8px 24px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  border-radius: 2px;
  background-color: #612dae;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}

